<div class="container-fluid">
  <h1> start game </h1>
  <%= link_to "Start game", new_game_path, :class => "btn btn-primary" %>
  <%= link_to  "Top points ", top_points_url, :class => "btn btn-warning" %>
</div>
